.item1 {
  background-color: green;
  padding: 1rem;
  margin: 1rem;
}
.item2 {
  background-color: rgb(206, 140, 222);
  padding: 1rem;
  margin: 1rem;
}
.item3 {
  background-color: rgb(207, 82, 82);
  padding: 1rem;
  margin: 1rem;
}
.item4 {
  background-color: rgb(213, 236, 109);
  padding: 1rem;
  margin: 1rem;
}
.item5 {
  background-color: rgb(199, 239, 22);
  margin: 1rem;
  padding: 1rem;
  align-self: stretch;
}
.item6 {
  background-color: rgb(13, 238, 88);
  margin: 1rem;
  padding: 1rem;
}
.item7 {
  background-color: rgb(240, 249, 202);
  align-self: center;
  padding: 1rem;
  margin: 1rem;
}
.item8 {
  background-color: rgb(95, 11, 239);
  padding: 1rem;
  margin: 1rem;
}
.item9 {
  background-color: rgb(85, 97, 34);
  padding: 1rem;
  margin: 1rem;
  align-self: flex-end;
}

.flex_container_1 {
  margin-top: 1rem;
  display: flex;
  /* flex-direction: column; */
  flex-direction: column-reverse;
}
.flex_container_2 {
  background-color: rgb(9, 9, 8);
  margin: 5rem;
  padding: 2rem;
  border: 5rem solid;
  height: 10rem;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
  /* align-items: center; */
  /* align-items: flex-end; */
  align-items: baseline;
}

/* align-self */
.flex_container_3 {
  background-color: rgb(9, 9, 8);
  margin: 2rem;
  padding: 2rem;
  border: 2rem solid;
  height: 10rem;
  display: flex;
  /* flex-direction: column; */
  flex-direction: row;
  flex-wrap: wrap;
  /* align-items: stretch; */
  /* align-items: center; */
  /* align-items: flex-end; */
  align-items: flex-start;
}
